In [ ]:
print("hello world")

In [ ]:
a=5
type(a)

In [ ]:
_name = 'hasan'
type(_name)

In [ ]:
marks = input("enter your marks:") #here it is taking input as string 
marks = int(marks) #typecasting 
if marks >= 40:
    print("pass")
else:
    print("fail")
print("end")

In [ ]:
marks  = input("enter your marks:")
marks = int(marks)
if marks >= 80:
    print("Grade:A")
elif marks >=70:
    print("Grade:B")
elif marks >=60:
    print("Grade:C")
else:
    print("enter valid input")

In [ ]:
a=3
a==3
s1="bangladesh"
s2 = "Bangladesh"
s1==s2

In [ ]:
n = input("enter a number:")
n = int(n)
if n%2 == 0:
    print(n,"is even")
else:
    print(n,"is odd")

In [ ]:
num = input("enter a number")
n = int(num)
if (n>=0):
    if n%2==0:
        print(n,"is positive and even")
    else:
        print(n,"is positive and odd")
else:
    if n%2==0:
        print(n,"is negative and even")
    else:
        print(n,"is negative and odd")

In [ ]:
num = input("enter a number")
n = int(num)
if (n>=0) and (n%2==0): # and means &&
    print(n,"is positive and even")
elif (n>=0) and (n%2!=0):
    print(n,"is positive and odd")
elif (n<0) and (n%2==0):
    print(n,"is negative and even")
else:
    print(n,"is negative and odd ")

In [ ]:
#leap year
year = input("enter a year")
year = int(year)
if(year%4==0 and year%100!=0) or(year%400==0):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

In [ ]:
fruits = ["apple","banana","mango","orange"]
type(fruits)

In [ ]:
fruits = ["apple","banana","mango","orange"]
print(fruits)

In [ ]:
fruits = ["apple","banana","mango","orange"]
fruits[0]

In [ ]:
fruits = ["apple","banana","mango","orange"]
fruits.append("papaya")
print(fruits)

In [ ]:
len(fruits)#this is the length of list

In [ ]:
"mango" in fruits #check if this element present in the list

In [ ]:
fruits.pop()#removes the last item of the list

In [ ]:
print(fruits) #now papaya is not in the list because of "POP"

In [ ]:
#function
def gen_multi_table(n):
    print(n,"x 1=",n *1)
    print(n,"x 2=",n *2)
    print(n,"x 3=",n *3)
    print(n,"x 4=",n *4)
    print(n,"x 5=",n *5)
    print(n,"x 6=",n *6)
    print(n,"x 7=",n *7)
    print(n,"x 8=",n *8)
    print(n,"x 9=",n *9)
    print(n,"x 10=",n *10)
n = input()
n = int(n)
gen_multi_table(n)
gen_multi_table(n+1)

In [ ]:
import random

rand_number = random.randint(1,100)
print(rand_number)

In [ ]:
import datetime

today = datetime.datetime.today()
print(today)

In [ ]:
import math

num = math.sqrt(36)
print(num)

In [ ]:
import math
pi = math.pi
print(pi)

In [ ]:
#traverse a list
names = ["hasan","ishan","rayhan","araf"]
for name in names:
    print(name)

In [ ]:
names = ["hasan","ishan","rayhan","araf"]
for i in range(4): #it means four value 0,1,2,3
    print(i,names[i])

In [ ]:
for i in range(3,9):
    print(i)

In [ ]:
for i in range(2,10,2): #increment 2 
    print(i)

In [ ]:
#print multiplication table of 1 to 4 using for loop
def gen_multi_table(n):
    print(n,"x 1=",n *1)
    print(n,"x 2=",n *2)
    print(n,"x 3=",n *3)
    print(n,"x 4=",n *4)
    print(n,"x 5=",n *5)
    print(n,"x 6=",n *6)
    print(n,"x 7=",n *7)
    print(n,"x 8=",n *8)
    print(n,"x 9=",n *9)
    print(n,"x 10=",n *10)
n =1
for i in range(1,5):
    gen_multi_table(i)

In [ ]:
def multi_table(n):
    for i in range(1,11):
        print("{} x {} = {}".format(n,i,n*i))
n = input()
n = int(n)
multi_table(n)

In [ ]:
"10"+"10" #concatanation

In [ ]:
'10'*3
# string will repeat 3 times

In [ ]:
s = "shafin"
s[0:3]

In [ ]:
name = "bangladesh"
name = name.upper() #lower and upper for captial or small letter of whole str
print(name)

In [ ]:
name  = "haSAn"
name = name.capitalize()
print(name)

In [ ]:
"Bangladesh".find("desh") #find desh word in bangladesh which start index 6

In [ ]:
name = "america"
name.startswith("ame") #string start with ame
name.endswith("ca") #string end with ca

In [ ]:
"A,B,C,D".split(",") #breaks with coma and returned a list

In [ ]:
li = ['s','h','a','f','i','n']
"".join(li)

In [ ]:
i = 1
while i<=10:
    print(i)
    i+=1

In [ ]:
def multi_table(n):
    for i in range(1,11):
        print("{} x {} = {}".format(n,i,n*i))
n= input("Enter 0 to exit")
n = int(n)
while n!=0:
    multi_table(n)
    print("")
    n= input("Enter 0 to exit")
    n = int(n)

In [ ]:
li1 = [1,2,3,4]
li2 = [5,6,7,8]
li = li1+li2
print(li)

In [ ]:
li1.extend(li2) #adds two list
print(li1)

In [ ]:
li = [1,2,3,4]
li.insert(1,10)#insert element(10) at index no 1
print(li)

In [ ]:
li = [11,22,44,66] 
print(li.index(66))

In [ ]:
li = [22,44,55,22,99,88]
li.remove(22) #it will remove first element
print(li)

In [ ]:
li = [44,2,64,23,1,545,-2]
li.sort()
print(li)

In [ ]:
li.sort(reverse=True)
print(li)

In [ ]:
li.reverse()
print(li)

In [ ]:
tpl = (1,2,4,6) #list mutable but tuple immutable
print(type(tpl))

In [ ]:
print(tpl[0])

In [ ]:
for item in tpl: #traversing tuple
    print(item)

In [ ]:
tpl[0] =33
print(tpl)

In [ ]:
tpl = 1,2,3
print(tpl,type(tpl))

In [ ]:
#check functions of tuple
print(dir(tuple))

In [ ]:
tpl = 1,2,3
a,b,c  = tpl
print(a,b,c)

In [ ]:
#set
s1={1,2,3,4}
s2= {3,4,5,6}
s1|s2 #union of set

In [ ]:
s1={1,2,3,4}
s2= {3,4,5,6}
s1 & s2 #intersection of set

In [ ]:
s1={1,2,3,4}
s2= {3,4,5,6}
s1-s2

In [ ]:
s1={1,2,3,4}
s2= {3,4,5,6}
s1^s2 #either present in s1 or s2

In [ ]:
#remove duplicate from list using set
li = [1,2,3,5,6,6,5,4,4,4,3,66,77,77,99,100]
li = list(set(li))
print(li)

In [ ]:
num_to_word = dict()
num_to_word[1] = 'one'
num_to_word[2] = 'two'
num_to_word[3] = 'three'
print(num_to_word)
print(type(num_to_word))

In [ ]:
num_to_word = {1:'one',3:'three',5:'five'}#key:'value'
print(type(num_to_word))
print(num_to_word)
print(num_to_word[5])

In [ ]:
num_to_word = {1:'one',3:'three',5:'five'}
num_to_word[4] = 'four'#add another key
print(num_to_word)
del num_to_word[5]#delete a key
print(num_to_word)

In [ ]:
for key,value in num_to_word.items():
    print(key,value)

In [ ]:
print(dir(dict))

In [ ]:
print(num_to_word.items())

In [ ]:
fruits = {'A':'apple','B':'ball','c':'cat','d':'dog',}
print(fruits.values())
print(fruits.keys())

In [ ]:
fruits = {'A':'apple','B':'ball','c':'cat','d':'dog',}
fruits.clear()#remove all elements
print(fruits)

In [ ]:
fruits = {'A':'apple','B':'ball','c':'cat','d':'dog',}
print(fruits.get('d'))
print(fruits['A'])
print(fruits.get('D'))#it returns none but fruits['D'] will show error

In [ ]:
while True:
    s= input()
    if s=='q':
        break
    print(s.upper())

In [ ]:
while True:
    s = input()
    print(s.upper())
    s= input("do u want to continue?y/n")
    if s == "y":
        continue
    print("bye bye")
    break

In [ ]:
li = [33,44,66,300,58,249]
max_number = max(li)
print(max_number)

In [ ]:
li = [33,44,66,300,58,249]
max_number = li[0]
for i in li:
    if i>max_number:
        max_number = i
        
print(max_number)

In [ ]:
li = [33,44,66,300,58,249]
total = sum(li)
print(total)

In [ ]:
li = [33,44,66,300,58,249]
sum = 0
for i in li:
    sum+=i
print(sum)

In [ ]:
li = [33,44,66,300,58,249]
found = 300 in li
print(found)

In [ ]:
li = [33,44,66,300,58,249]
key = 300
flag = False
for i in li:
    if key==i:
        print("found")
        flag = True
        break
if flag is False:
    print("not found")

In [ ]:
li = list(range(0,11))
print(li)

In [ ]:
li = list(range(2,101,2))
print(li)

In [ ]:
''' list comprehensions '''
li = ["apple","mango","orange","banana","promegranate","jackfruit"]
fruits = [fruit.capitalize() for fruit in li]
print(fruits)

In [ ]:
li_len = [len(x) for x in li]
print(li_len)#it will print length of fruits name

In [ ]:
cube_list = [x*x*x for x in range(1,11)]
print(cube_list)

In [ ]:
cube_list = [x*x*x for x in range(1,11) if x%2!=0]
print(cube_list)

In [ ]:
''' Set and dictionary comprehensions'''
li = [(1,'one'),(2,'Two'),(3,'three'),(4,'four')]
type(li)#list
dt = {k:v for k,v in li}
print(dt)#dictionary
type(dt)

In [ ]:
s="ahfahfbabuaiefalkafha"
uniq_letter = {c for c in s}
type(uniq_letter)#set
print(uniq_letter)

In [ ]:
colors_choice = [('Messi','sky'),('ronaldo','red'),('neymar','yellow'),]
type(colors_choice)#list
colors_dt = {name:color for name,color in colors_choice}
type(colors_dt)#dict
print(colors_dt)
colors_set ={color for color in dt.values()}
type(colors_set)#set
print(colors_set)
colors_set = {color for color in colors_dt.values()}
type(colors_set)#set
print(colors_set)