In [6]:
'''declaring tuple'''
mytuple = ("apple","banana","cherry")
print(type(mytuple))
mytuple1 = tuple(("rahim","karim","ishan"))
print(type(mytuple1))
mytuple2 = "white","blue","red"
print(type(mytuple2))
print("size of mytuple2 is: ",len(mytuple2))
one_item_tuple = ("MIT",)
print(type(one_item_tuple))
tuple_Q = ("name",32,"id","DOB",False)
print(type(tuple_Q))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
size of mytuple2 is:  3
<class 'tuple'>
<class 'tuple'>

In [15]:
'''ACCESSING tuple'''
print(mytuple[0])
test_tuple = ("a","b","c","d","e","f","g","h")#iteratin 0,1,2,3,4,5,6
print(test_tuple[2:5])#c=2,e=4,f=5(not included)
print(test_tuple[:5])#0 to before 5
print(test_tuple[-4:-1])#h=-1(not included)
def isPresent(test_tuple):
    if "a" in test_tuple: #check the item in tuple
        print("true")
isPresent(test_tuple)

apple
('c', 'd', 'e')
('a', 'b', 'c', 'd', 'e')
('e', 'f', 'g')
true

In [16]:
'''convert tuples '''
li1 = list(mytuple)#converted to list
li1.append("papaya")
mytuple = tuple(li1)
print(mytuple)

('apple', 'banana', 'cherry', 'papaya')

In [20]:
'''unpack Tuple'''
Tup1 = ("computer","AC","book")
(hp,lg,calculas) = Tup1
print("hp = ",hp)
print("AC = ",lg)
print("calculas = ",calculas)

hp =  computer
AC =  AC
calculas =  book

In [26]:
'''PRINT Tuple using loop'''
for i in range(len(mytuple)):
    print(mytuple[i])
print("\n")


x = 0
while x<len(mytuple2):
    print(mytuple2[x])
    x+=1

apple
banana
cherry
papaya


white
blue
red

In [32]:
tuple1 = (1,2,3)
tuple2 = (5,6,7,6,6,6)
tuple3 = tuple1+tuple2
print(tuple3)
print(tuple1.index(3))
tuple2.count(6)

(1, 2, 3, 5, 6, 7, 6, 6, 6)
2

4

In [7]:
'''SET '''
myset = {"apple","mango","jackfruit"}
print(type(myset))
print(len(myset))
myset1 = set(("MIT","CU","DU"))
print(type(myset1))
print("\n\n")
for i in myset:
    print(i)

<class 'set'>
3
<class 'set'>



mango
jackfruit
apple

In [17]:
myset1.add("nsu")
print(myset1)

{'MIT', 'BRACU', 'nsu', 'IUB', 'CU', 'UIU', 'DU'}

In [22]:
myset2 = {"UIU","BRACU","IUB"}
myset1.update(myset2)
print(myset1)
myset1.remove("IUB")
print(myset1)
myset1.discard("MIT")#same as remove
print(myset1)

{'MIT', 'BRACU', 'nsu', 'IUB', 'CU', 'UIU', 'DU'}
{'MIT', 'BRACU', 'nsu', 'CU', 'UIU', 'DU'}
{'BRACU', 'nsu', 'CU', 'UIU', 'DU'}

In [19]:
this_SET = {4,5,6}
ThisList = [1,2,1]
this_SET.update(ThisList)
print(this_SET)#no duplicate allowed in set

{1, 2, 4, 5, 6}

In [24]:
set1= {1,2,4}
set1.clear()
print(set1)

set()

In [29]:
'''Dictionary'''
'''KEY:VALUE'''
Dict1 = {
    "brand":"toyta",
    "model":"prado",
    "year":2020
}
dict2 = dict(name="jamal",age = 36,country = "Denmark")
print(Dict1)
print(type(Dict1))
print(len(Dict1))
print(type(dict2))

{'brand': 'toyta', 'model': 'prado', 'year': 2020}
<class 'dict'>
3
<class 'dict'>

In [42]:
print(Dict1.get("model"))
print(Dict1.keys())
print(Dict1.values())
Dict1["color"]= "white"
print(Dict1)
print(Dict1.items())
Dict1.update({"color":"BLUE"})
print(Dict1)

prado
dict_keys(['brand', 'model', 'color'])
dict_values(['toyta', 'prado', 'BLUE'])
{'brand': 'toyta', 'model': 'prado', 'color': 'white'}
dict_items([('brand', 'toyta'), ('model', 'prado'), ('color', 'white')])
{'brand': 'toyta', 'model': 'prado', 'color': 'BLUE'}

In [51]:
dict_C = Dict1.copy()
print(dict_C)

{'brand': 'toyta', 'model': 'prado', 'color': 'BLUE'}